@import "tailwindcss";

@theme {
  --color-red: #E3646E;
  --color-purple: #BB72E9;
  --color-blue: #3996DB;
  --color-green: #82BC4F;
  --color-yellow: #EABD5F;
  --color-gray-600: #0D0E11;
  --color-gray-500: #16181D;
  --color-gray-400: #292C34;
  --color-gray-300: #878EA1;
  --color-gray-200: #C0C4CE;
  --color-gray-100: #E2E4E9;
  --font-title: 'Asap', serif;
  --font-subtitle: 'Inconsolata', serif;
  --font-sans: 'Maven Pro', serif;
  --spacing-title: 120%;
  --spacing-text: 140%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #292C34;
}

::-webkit-scrollbar-thumb {
  background: #878EA1;
  border-radius: 8px;
}
